body {
    background-color: #000;
    color: #fff;
    background-image: url("assets/imgs/imagem1.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #fff;
    font-size: 1vw;
    text-shadow: 1vw 1vw 1vw #000, 0 0 3vw #24ff00, 0 0 3vw #24ff00, 0 0 3vw #24ff00;
}


h2 {
    color: #fff;
    font-size: 1;
    text-shadow: 1vw 1vw 1vw #000, 0 0 3vw #24ff00, 0 0 3vw #24ff00, 0 0 3vw #24ff00;
    font-size: 25px;
}


h3 {
    color: #fff;
    font-size: 0,05vw;
    text-shadow: 1vw 1vw 1vw #000, 0 0 1vw #ffee00, 0 0 1vw #ffee00, 0 0 1vw #ffee00;
    font-size: 20px;
}

h5 {
    color: #ffee00;
    font-size: 0,05vw;
    text-shadow: 1vw 1vw 1vw #000, 0 0 1vw #ffee00, 0 0 1vw #ffee00, 0 0 1vw #ffee00;
    font-size: 18px;
}


.container {
    margin-top: 1%;
    text-align: center;
}

label {
    font-family: 'Courier New', Courier, monospace;
    color: #0ACD5E;
    padding: 10px;
    display: inline-block;
    font-size: 45px;
}

input[type="date"]  {
    margin-top: 1%;
    text-align: center;
    

    
}

input[type="date"] {
    border: 3px solid #00FFFF;
    color: #0ACD5E;
    background-color: transparent;
    padding: 10px;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    
}


button {
    border: 2px solid #00FFFF;
    color: #f5c800;
    background-color: transparent;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.3s;
}

button:hover {
    background-color: #00FFFF;
    color: #000;
}

#signo-result h1 {
    color: #02FB05;
    font-family: serif;
    font-size: 80px;
}

a.btn-secondary {
    border: 2px solid #00FFFF;
    font-family: 'Century Gothic', sans-serif;
    color: #00FFFF;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

a.btn-secondary:hover {
    background-color: #00FFFF;
    color: #000;
}

footer {
    color: #00FFFF;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 300px;
}
